html
  head
    title= title
    link(rel="stylesheet", type="text/css", href="/libs.min.css")
    link(rel="stylesheet", type="text/css", href="/app.min.css")

  body(ng-app="guestListApp")
    block content
      h1 Fill me in!

    script(type="text/javascript", src="/libs.min.js")
    script(type="text/javascript", src="/app.min.js")